## Imports

In [23]:
%load_ext autoreload
%autoreload 2
%matplotlib inline

import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
from pathlib import Path

from utilities import consts, dicts, utils

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [16]:
class_path = Path('../data/modelnet40v1/airplane')

len(list((class_path/'train').iterdir()))

960

In [28]:
data_dir = Path(consts.DATA_DIR)

def get_class_img_count(row, dataset_name):
    """
    Returns number of class images in a given dataset
    """
    return len(get_class_image_paths(row, dataset_name))


def get_class_instance_count(row, dataset_name):
    """
    Returns number of unique class instances in a given dataset
    """
    class_image_paths = get_class_image_paths(row, dataset_name)
    class_instances = np.unique([path.name.split('_')[-2] for path in class_image_paths])
    return len(class_instances)
    

def get_class_image_paths(class_path, dataset_name):
    """
    Returns class image paths in a given dataset
    """
    class_dataset_path = class_path/dataset_name
    class_image_paths = [path for path in class_dataset_path.iterdir() if path.suffix.lower() in consts.IMG_SUFFIX_LIST]
    return class_image_paths



class_paths = list(data_dir.iterdir())
class_names = [path.name for path in class_paths]
data_summary = pd.DataFrame({'class_paths': class_paths}, index=class_names)
dataset_names = ['train', 'test']
for dataset_name in dataset_names:
    data_summary[f'{dataset_name}_img_count'] = data_summary['class_paths'].apply(lambda row: get_class_img_count(row, dataset_name))
    data_summary[f'{dataset_name}_instance_count'] = data_summary['class_paths'].apply(lambda row: get_class_instance_count(row, dataset_name))    
utils.summarise(data_summary)

(40, 5)

Index(['class_paths', 'train_img_count', 'train_instance_count',
       'test_img_count', 'test_instance_count'],
      dtype='object')

,class_paths,train_img_count,train_instance_count,test_img_count,test_instance_count
airplane,../data/modelnet40v1/airplane,960,80,240,20
bathtub,../data/modelnet40v1/bathtub,960,80,240,20
bed,../data/modelnet40v1/bed,960,80,240,20
bench,../data/modelnet40v1/bench,960,80,240,20
bookshelf,../data/modelnet40v1/bookshelf,960,80,240,20

In [30]:
data_summary.describe()

,train_img_count,train_instance_count,test_img_count,test_instance_count
count,40.000000,40.000000,40.0,40.0
mean,954.900000,79.575000,240.0,20.0
std,30.368506,2.530709,0.0,0.0
min,768.000000,64.000000,240.0,20.0
25%,960.000000,80.000000,240.0,20.0
50%,960.000000,80.000000,240.0,20.0
75%,960.000000,80.000000,240.0,20.0
max,960.000000,80.000000,240.0,20.0